<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photograph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4095A8E61D3A1C04008F10A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4095A8FA1D3A1C05008F10A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4095A9051D3A1C05008F10A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
